* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD
<<<<<<< HEAD

h1{
  border: 1px solid #000;
}

h2{
  border: 1px solid #000;
}

=======
>>>>>>> 5a0124ceb470c6c03282eab1a9e827652fe636a3
=======
h1{
  background-color: aqua;
}
>>>>>>> 03e24ef30f381222a9d43bbfb4a643e29b51e830
